/*/*.iml
./*/*/.gradle/
*/.DS_Store
*/build
*/captures
.*/externalNativeBuild
*/.cxx
*/local.properties
*/.idea/modules
*/.gradle
*/.idea/artifacts
build
.idea/
.gradle/
# IntelliJ files
**/.idea/*
!/.idea/vcs.xml
out/
*.iml
